body{
    /*background-image:  url("../img/blackandgold.jfif");*/
   background-color: #000000 !important;
   text-align: center;
   position: relative;
   padding-bottom: 15em;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

#apuestaTodo{
    
    height: 500px;
    width: 200px;
}

.futbol-banner {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    border-bottom: 3px solid white; /* ← ahora blanco */
}

.futbol-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(85%);
}

/* Overlay */
.futbol-overlay {
    position: relative;
}

/* Texto sobre la imagen */
.futbol-text {
    position: absolute;
    bottom: 30px;
    left: 40px; /* ← ahora alineado a la izquierda */
    font-size: 2.8rem;
    color: white;
    font-weight: 800;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.9);
    text-transform: uppercase;
    letter-spacing: 2px;
}




.container-fluid{
    margin-left: 70px;
}

.navbar-logo {
  max-height: 80px;
}

.navbar{
    background-image: url("../img/yellowtriangles.jpg");
}

.navbar-apuesta {
  font-size: 50px;
  font-weight:900;
  color: black;
  text-decoration: none;
  text-align: left;
}

.navbar-todocom{
  margin-top: 35px;  
  font-size: 25px; 
  font-weight:600;
  color: black;
  float: left;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.card{
    padding: 30px;
    margin: 30px;
}

.mi-link-barra{
     font-weight:600 ;
  background-color:#ccc414;  
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px; 
}
.mi-link-barra:hover{
   background-color: #ad8a1f;
}
.nav-link {
  padding: 5px 10px;
  margin-top: 50px;   
  font-weight:600 ;
  background-color: #ccc414;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-danger{
   padding: 5px 10px;
  margin-top: 50px;
}
.nav-link:hover{
   background-color: #D9D34F;
}

#bets {
  /* elimina los márgenes fijos */
  /* margin-left: 500px; margin-right: 500px; */

  width: 100%;
  max-width: 600px;       /* ajusta según ancho deseado */
  margin: 60px auto 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  /* justify-content aquí no hace nada si no es flex parent */
}

.titulo-gradient {
  font-size: 2.6rem;
  font-weight: bold;
  background: linear-gradient(90deg, #00ff9f, #0097ff);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}


.d-block{
    padding: 20px;
    margin: auto;
}


#Formulario-InicioSesion{
    justify-content: center;
    display: grid;
    text-align: left;
    color: aliceblue;
}

#titulo{
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

#botonRegreso{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #c69749;
}

footer {
            background-color: black;
            color: white;
            padding-top: 55px;
            text-align: center;
            font-size: 14px;
        }
        .footer-content {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-wrap: wrap; 
            gap: 20px;
        }

        .footer-column {
            flex: 1; 
            text-align: left; 
            max-width: calc(25% - 20px);
        }

        .footer-column h3 {
            color: #c69749;
            font-size: 18px;
        }

        .footer-column p {
            margin: 0;
            font-size: 12px
        .btn-social {
                font-size: 20px; 
                margin: 5px; 
            }
        .btn-social i {
                color: white;
            }
        }

.tabla-grande {
    font-size: 18px; /* Tamaño de fuente más grande */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
}

.tabla-grande th, .tabla-grande td {
    padding: 10px; /* Espaciado interno mayor */
    text-align: center; /* Alineación de texto al centro */
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh;
}
}
#fondodenewusuario{
    background-image: url(../img/iniciosesion.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#fondoNewUsuario{
    background-image: url(../img/futboloscuro.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.partidos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*color: black;*/
    margin: 50px;
}

.equipo-local {
    color: #000000;
}

.equipo-visitante {
    color: #000000;
}

.fecha {
    font-size: 14px;
    color: #030303;
    font-weight: normal;
}

.ganador {
    color: #28a745;
    font-weight: bold;
}

.btn-navbar {
  background-color: #999999; /* Código de color naranja como ejemplo */
  color: black; /* Color de texto */
 font-weight: 900;
}
#lineadebajo-navbar{
    border-color: white;/* Cambia el color a tu preferencia */
  border-width: 3px; /* Establece el grosor de la línea */
  margin: 0; /* Ajusta el margen si es necesario */
}
.mi-lista {
    background-color: black;
  padding: 6px; 
}
.footer-logo img {
           width: 50px; 
           height: auto; 
            }
.col-md-4 h4, .col-md-4 p, .form-control {
    font-size: 20px; /* Ajusta el valor según el tamaño deseado */
}

#montoAgregar{
    padding: 20px;
}

.match-management-container {
    text-align: center;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.match-management-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.match-management-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.match-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.match-add-button {
    background-color: #4caf50;
    color: #ffffff;
}

.match-add-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.match-edit-button {
    background-color: #ffa500;
    color: #ffffff;
}

.match-edit-button:hover {
    background-color: #e59400;
    transform: scale(1.05);
}

.match-delete-button {
    background-color: #f44336;
    color: #ffffff;
}

.match-delete-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

/* Contenedor principal para centrar */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 15em); /* Ajuste según el padding del body */
    position: relative;
    margin-top: 5em;
}

/* Contenedor del formulario */
.add-match-container {
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.add-match-title {
    font-size: 26px;
    color: #000000;
    margin-bottom: 25px;
    border-bottom: 2px solid #f39c12;
    display: inline-block;
    padding-bottom: 5px;
}

/* Estilo de los campos del formulario */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    color: #333333;
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    border-color: #f39c12;
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.3);
    outline: none;
}

/* Botón de enviar */
.form-submit-button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f39c12;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-submit-button:hover {
    background-color: #e67e22;
    transform: translateY(-2px);
}

.form-submit-button:active {
    background-color: #d35400;
    transform: translateY(0);
}

.error-message {
    color: #ffffff; /* Texto blanco para contraste */
    background-color: #e63946; /* Rojo llamativo pero elegante */
    border: 1px solid #d62828; /* Bordes ligeramente más oscuros */
    border-radius: 8px; /* Bordes redondeados */
    padding: 12px 16px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de texto legible */
    font-weight: 600; /* Negrita para destacar */
    text-align: center; /* Centrar el texto */
    margin: 12px 0; /* Espaciado externo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al pasar el cursor */
}

.error-message:hover {
    transform: scale(1.02); /* Ligeramente más grande al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    color: #ffffff;
}

.goodcreate {
    color: #ffffff; /* Texto blanco para contraste */
    background-color: #008f39; /* Rojo llamativo pero elegante */
    border-radius: 8px; /* Bordes redondeados */
    padding: 12px 16px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de texto legible */
    font-weight: 600; /* Negrita para destacar */
    text-align: center; /* Centrar el texto */
    margin: 12px 0; /* Espaciado externo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al pasar el cursor */
}

.goodcreate:hover {
    transform: scale(1.02); /* Ligeramente más grande al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    color: #ffffff;
}

.partido-burbuja {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* Fondo gris claro */
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px; /* Espacio entre partidos */
    border-left: 5px solid #007bff; /* Línea de color en el borde izquierdo */
    width: 100%; /* Que ocupe todo el ancho */
}

.partido-burbuja > div {
    margin-right: 15px; /* Espaciado entre elementos */
    font-size: 16px;
    font-weight: bold;
}

/* Contenedor de la tabla */
.table-container {
    background-color: #454d55;
    padding: 10px;
    border-radius: 10px;

    margin-top: 20px;
}

/* Estilos para la tabla */
.table {
    text-align: center;
    border-collapse: collapse; /* Evita bordes dobles */
}

/* Bordes más finos */
.table-bordered {
    border: 1px solid #dee2e6; /* Grosor más delgado */
}

/* Ajustar bordes de las celdas */
.table-bordered th, 
.table-bordered td {
    border: 1px solid #444; /* Bordes más finos y oscuros */
    padding: 8px; /* Menos espacio interno para reducir el efecto de grosor */
}

/* Encabezados de la tabla */
.table th {
    background-color: #454d55 !important; /* Negro Bootstrap */
    color: white !important;
    text-align: center;
    vertical-align: middle;
}

/* Celdas de la tabla */
.table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px; /* Espaciado interno */
}


/* Estilo del título */
.table-title {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Botón de apostar */
.btn-apostar {
    font-size: 14px;
    padding: 5px 10px;
}

.cardr {
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
.cardr:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}



