<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a th:href="@{/}">
      <img src="img/logoAP.jpg" id="logo-nav" class="img-fluid navbar-logo">
      <img src="img/apuestatodoNav.png" id="apuestaTodo" class="img-fluid navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="d-flex">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" th:if="${userLogueado == null}">
            <a th:href="@{/Index(action='inicioSesion')}" class="nav-link">Iniciar Sesión</a>
          </li>
          <li class="nav-item" th:if="${userLogueado == null}">
            <a th:href="@{/Index(action='newUsuarios')}" class="nav-link">Crear Usuario</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/Partidos}" class="nav-link">Partidos</a>
          </li>

          <li class="nav-item" th:if="${userLogueado != null}">
            <a th:href="@{/Billetera}" class="nav-link">Billetera</a>
          </li>
          <li class="nav-item" th:if="${userLogueado != null}">
            <a th:href="@{/Resultados}" class="nav-link">Resultados</a>
          </li>
          <li class="nav-item" th:if="${userLogueado != null}">
            <a th:href="@{/ApuestasMostrar}" class="nav-link">Apuestas</a>
          </li>
          <li class="nav-item" th:if="${userLogueado != null}">
            <a th:href="@{/Perfil}" class="nav-link">Perfil</a>
          </li>
          <li class="nav-item" th:if="${userLogueado?.rol == 'ADMIN'}">
            <a th:href="@{/AdminPartidos}" class="nav-link">ADMIN</a>
          </li>
          <li class="nav-item" th:if="${userLogueado?.rol == 'ADMIN'}">
            <a th:href="@{/Balance}" class="nav-link">Balance</a>
          </li>
          <li class="nav-item" th:if="${userLogueado != null}">
            <a th:href="@{/Salir}" class="btn btn-danger">Logout</a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</nav>

<hr id="lineadebajo-navbar">
