<html>
     <div th:replace="../componentes/head :: head('Apuesta')"></div>
     
    <body>
        <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>
        <div style="padding-top: 120px">
          <div class="match-management-container">
            <h1 class="match-management-title">Manejo de Partidos</h1>
                <div class="match-management-buttons">
            
                <a class="match-button match-add-button" th:href="@{/ShowAgregarPartido}">Añadir Partido</a>
                <a class="match-button match-edit-button" th:href="@{/ShowListaEditar}">Editar Partido</a>
                <button class="match-button match-delete-button">Eliminar Partido</button>
                
                </div>
         </div>  
        </div> 
    </body>
</html>