
<html>

<div th:replace="../componentes/head :: head('Apuesta')"></div>
    <body>
    <div th:replace="../componentes/navBar-Iniciado :: navbar"></div> 
    <section id="Formulario-InicioSesion" class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="img/logoAP.jpg" style="width: 70px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Crear Usuario</h4>
                                        
                                        <!-- Condicional en Thymeleaf para mostrar el mensaje de error -->
                                        <div th:if="${errorMessage}" class="error-message">
                                            <p th:text="${errorMessage}"></p>
                                        </div>
                                    </div>

                                    <form action="/crearUser" method="POST">
                                        <p>¡Hola! Bienvenido</p>

                                        <input type="text"
                                            id="form2Example11"
                                            th:name="username"
                                            th:value="${username}"
                                            th:placeholder="${username != null and username != '' ? username : 'username'}"
                                            class="form-control"/>
                                        <label class="form-label" for="form2Example11">Usuario</label>
                                        
                                        
                                        <input type="text"
                                            id="form2Example11"
                                            th:name="nombre"
                                            th:value="${nombre}"
                                            th:placeholder="${nombre != null and nombre != '' ? nombre : 'nombre'}"
                                            class="form-control"/>
                                        <label class="form-label" for="form2Example11">nombre</label>
                                        
                                        <input type="text"
                                            id="form2Example11"
                                            th:name="apellido"
                                            th:value="${apellido}"
                                            th:placeholder="${apellido != null and apellido != '' ? apellido : 'apellido'}"
                                            class="form-control"/>
                                        <label class="form-label" for="form2Example11">Apellido</label>
                                        
                                        <input type="text"
                                            id="form2Example11"
                                            th:name="edad"
                                            th:value="${edad}"
                                            th:placeholder="${edad != null and edad != '' ? edad : 'edad'}"
                                            class="form-control"/>
                                        <label class="form-label" for="form2Example11">Edad</label>
                                        
                                       <input type="text"
                                            id="form2Example11"
                                            th:name="dni"
                                            th:value="${dni}"
                                            th:placeholder="${dni != null and dni != '' ? dni : 'dni'}"
                                            class="form-control"/>
                                        <label class="form-label" for="form2Example11">DNI</label> 

                                        <div class="form-outline mb-4">
                                            <input type="password" name="password" id="form2Example22" class="form-control" placeholder="*****"/>
                                            <label class="form-label" for="form2Example22">Contraseña</label>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <input type="password" name="reppassword" id="form2Example22" class="form-control" placeholder="*****"/>
                                            <label class="form-label" for="form2Example22">Repetir contraseña</label>
                                        </div>


                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <button class="btn btn-success btn-block fa-lg gradient-custom-2 mb-3" type="submit">Crear Cuenta</button>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center" id="fondodenewusuario">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4 sesion">¡Hola de vuelta!</h4>
                                    <p class="small mb-1 sesion">Somos Apuesta Todo.com, la página de apuestas digitales más confiable del país. Agradecemos que confíes en nosotros una vez más.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="../componentes/footer :: footer"></div>
    </section>
   
</body>
</html>
