<html>
    <div th:replace="../componentes/head :: head('Editar Partido')"></div>

    <body>
        <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>

        <div class="center-container">
            <div style="padding: 15px">
                <div class="add-match-container">
                    <h1 class="add-match-title">Detalles del Partido</h1>
                    <p><strong>Equipo Local:</strong> <span th:text="${partido.local}">Nombre del Local</span></p>
                    <p><strong>Equipo Visitante:</strong> <span th:text="${partido.visitante}">Nombre del Visitante</span></p>
                    <p><strong>Fecha del Partido:</strong> <span th:text="${partido.fecha}">Fecha</span></p>
                </div>
            </div>

            <div style="padding: 15px; margin-top: 65px">
            <div class="add-match-container">
                <h1 class="add-match-title">Editar Partido</h1>
                
            <a class="form-submit-button" 
                style="padding: 15px;" 
                th:href="@{/AgregarR(id=${partido.id_partido}, ganador=${'local'})}">
                 Local
             </a>

            <a class="form-submit-button" 
                style="padding: 15px;" 
                th:href="@{/AgregarR(id=${partido.id_partido}, ganador=${'visitante'})}">
                 visitante
             </a>
            
            </div>
            </div>
        </div>
    </body>
</html>
