<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <div th:replace="../componentes/head :: head('Página de Inicio')"></div>
    
    <div th:if="${goodcreate}" class="goodcreate">
            <p th:text="${goodcreate}"></p>
    </div>
    
    <body>
        <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>
                
       <h2 id = "bets" >BETS DESTACADAS</h2>
   
        <div id="carouselExample" class="carousel slide">


      <div class="carousel-inner">
        <div class="carousel-item active">
            <a th:href="@{/partidos}">
          <img src="img/Boca-Racing-ESPN.jpg" class="d-block " alt="...">
          </a>
        </div>
        <div class="carousel-item">
            <a th:href="@{/partidos}">
          <img src="img/Barcelona-Madrid-Aguero.jpg" class="d-block " alt="...">
          </a>
        </div>
        <div class="carousel-item">
            <a th:href="@{/partidos}">
          <img src="img/espn-Final.jpg" class="d-block " alt="...">
          </a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
       
       <div class="contenedor">

    <!-- Tarjeta 1 -->
    <div class="card" style="width: 18rem;">
        <img th:src="@{/img/tarjetas-credito.jpeg}" class="card-img-top" alt="Depósitos y extracciones">
        <div class="card-body">
            <h5 class="card-title">Depósitos y extracciones</h5>
            <p class="card-text">Contamos con depósitos y extracciones al instante y al banco/billetera virtual que quieras!</p>
            <a th:href="@{/partidos}" class="btn btn-primary">Go</a>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="card" style="width: 18rem;">
        <img th:src="@{/img/Barcelona-Madrid-Aguero.jpg}" class="card-img-top" alt="X2 Promoción">
        <div class="card-body">
            <h5 class="card-title">X2</h5>
            <p class="card-text">Solo por hoy todas sus apuestas serán pagadas X2.</p>
            <a th:href="@{partidos}" class="btn btn-primary">Go</a>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card" style="width: 18rem;">
        <img th:src="@{/img/espn-vs-boca-falta-de-respeto-vivo-png..png}" class="card-img-top" alt="Apoya a Argentina">
        <div class="card-body">
            <h5 class="card-title">Apoya a Argentina</h5>
            <p class="card-text">Cuotas mejoradas en la final de la Libertadores Boca-Fluminense</p>
            <a th:href="@{/partidos}" class="btn btn-primary">Go</a>
        </div>
    </div>

</div>
       
       <div th:replace="../componentes/footer :: footer"></div>
      
    </body>
    
  
</html>

