
<html>
    <div th:replace="../componentes/head :: head('Apuesta')"></div>
    <body>
        <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="partidos-container" style="color:#ffffff">
                    <div th:each="apuesta : ${apuestas}" class="partido-burbuja" >
                        <div class="fecha" th:text="${apuesta.monto}">Monto</div>
                        <div class="estado" th:text="${apuesta.estado}">Estado</div>
                        <div class="por-quien" th:text="'Por Quién: ' + ${apuesta.por_quien}">Por Quién</div>
                        <div class="monto" th:text="'Monto: ' + ${apuesta.monto}">Monto</div>
                        
                        <div th:each="partido : ${partidos}" 
                            th:if="${apuesta.fk_id_partido} == ${partido.id_partido}">
                           <div  th:text="'Local: ' + ${partido.local}">Equipo Local</div>
                           <div  th:text="'Visitante: ' + ${partido.visitante}">Equipo Visitante</div>
                           <div class="fecha-partido" th:text="'Fecha: ' + ${partido.fecha}">Fecha del Partido</div>
                       </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
