<!DOCTYPE html>


<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="../componentes/head :: head('Perfil')"></div>

<body>
    <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>
    
<div class="contenedor">
   <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
         <div class="col-md-4">
            <img src="img/usuario-negro.jpg" style="width: 400px" class="img-fluid rounded-start" alt="...">
         </div>
         <div class="col-md-8">
            <div class="card-body">
               <h5 class="card-title">Perfil</h5>
               <p class="card-text">Nombre: <span th:text="${persona.nombre}">Nombre aquí</span></p>
               <p class="card-text">Apellido: <span th:text="${persona.apellido}">Apellido aquí</span></p>
               <p class="card-text">DNI: <span th:text="${persona.dni}">DNI aquí</span></p>
               <p class="card-text">Edad: <span th:text="${persona.edad}">Edad aquí</span></p>
               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
</html>
