<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="../componentes/head :: head('Página de Inicio')"></div>
<body>
    <div th:replace="../componentes/navBar-Iniciado :: navbar"></div>
    
    <h1 id="bets">RESULTADOS DE LOS PARTIDOS</h1>
<div class="row">
    <div class="col-md-12">
        
        <div th:each="partido : ${partidos}" class="partido-burbuja">
            <div th:if="${partido.id_partido > 1}">
                <div class="equipo-local" th:text="${partido.local}"></div>
                <div class="equipo-visitante" th:text="${partido.visitante}"></div>
                <div class="fecha" th:text="${partido.fecha}"></div>
                <div class="ganador">
                    <div class="fecha"
                        th:if="${resultadosMap[partido.id_partido] != null}"
                        th:text="'Ganador: ' + ${resultadosMap[partido.id_partido].ganador}">
                    </div>
                </div>
            </div>
        </div>
        
    </div>


</div>

</body>
</html>
